@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;

}

body {
  font-size: 50px;
  color: white;
  background-image: url("images/guangzhoudark.jpg");    
  background-size: cover;
  height: 100%;
}

.blur {
  height: 100%;
  backdrop-filter: blur(3px);
}


ul {
  list-style-type: none;
  display: flex;
}

nav ul {
  padding: 30px;
  justify-content: flex-end;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a {
  font-size: 40px;
}

li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

main {
  margin: 10% auto 0 10%;
}

.name {
  display: flex;
  justify-content: flex-start;
}

.name h1 {
  font-family: 'Anonymous Pro';
  padding: 5px;
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

.name h1::first-letter {
  color: rgb(38, 172, 69)
}

p {
  text-align: left;
  margin: 1em;
  width: 70%;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

footer {
  padding: 20px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
  position: fixed;
}

footer li a {
  font-size: 35px;
}
