@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: white;
}

body {
  font-size: 50px;
  background-image: url("images/guangzhoudark.jpg");    
  background-size: cover;
  height: 100%;
}

.blur {
  height: 100%;
  backdrop-filter: blur(3px);
}

ul {
  list-style-type: none;
  display: flex;
}

nav ul {
  padding: 30px;
  justify-content: flex-end;
}

a {
  text-decoration: none;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
}

nav li a {
  font-size: 40px;
}

li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

main {
  margin: 4% 14%;
  padding: 2%;
  background-color: rgba(28, 28, 77, 0.95);
}

footer {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
  position: fixed;
}

footer li a {
  font-size: 35px;
}

table {
  margin-top: 2%;
  font-size: 25px;
}

table a {
  color: rgb(76,191,189);
  font-size: 30px;
  font-weight: 400;
}

table a:hover {
  color: rgb(252,231,134)
}

/* th {
  font-size: 30px;
  font-weight: 400;
} */

td {
  padding: 10px;
}

table span {
  background: -webkit-linear-gradient(left, red, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}